* { 
    box-sizing: border-box;
}

body { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    width: auto;
    background-color: #E3DBC5;
}

.grid-container { 
    display: grid;
    height: auto;
    grid-template-columns: 10px 50px 640px 50px 10px;
    grid-template-rows: 10px 370px 20px 640px 40px;
    background-color: #E3DBC5;
    border-radius: 7px;
}

.welcome-text { 
    grid-area: 2 / 2 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 { 
    color: #334E58;
}

h4 { 
    color: #334E58;
}

.images { 
    height: 640px;
    width: 640px;
    margin-top: auto;
    background-color: #506870;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 4 / 3 / 5 / 4;
    border-radius: 7px;
}
/*#F0F8FF;*/

img { 
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
}


.image-carousel { 
    overflow: hidden;
    height: 560px;
    width: 500px;
    background-color:#506870;
    border: #E3DBC5 5px solid;
    border-radius: 5px;
}

.image-container { 
    display: flex;
    align-items: center;
    row-gap: 5px;
    transform: translateX(0);
    transition: transform 0.5s ease-in;
    margin-bottom: 5px;
    background-color: #506870;
}

.btn-container { 
    display: flex;
    justify-content: space-around;
}

.btn { 
    background-color:#E3DBC5;
    color: #334E58;
    padding: 8px;
    width: 47.5%;
    border: none;
    opacity: 86%;
    border-radius: 5px;
    border: rgba(227, 219, 197, 1) 0.5px solid;
}

#left { 
    margin-left: 1px;
}

.btn:hover { 
    cursor: pointer;
    opacity: 1;
}


/* grid-area: rs / cs / re / ce; */

